@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Electroharmonix';
    src: url('../assets/electroharmonix.ttf');
    font-style: normal;
    font-weight: 250;
  }
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    overflow-x: hidden;
}

/* Header */
header{
    background-color: rgb(236, 42, 42);
    position: sticky;
    margin: 0;
    height: 50px;
    display: flex;
}

header img{
    width: 10%;
}

header h2{
    text-align: center; 
    margin-top: 5px;
    font-family: Electroharmonix;
    font-size: 30px;
}

.home-icon{
float: left;
margin-top: 4px;
margin-left: 4px;
width: 26%;
}

.home{
width: 148px;
}

.mini-logo{
    float: right;
    margin-top: 2px;
    margin-right: 4px;
    width: 19px;
}

.nav-tabs{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(236, 42, 42);
    width: 200px;
}

.nav-tabs a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.menu-icon{
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 400px; 
}

.menu-toggle:checked ~ .menu {
    display: block;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgb(236, 42, 42);
    border-color: black;
    border-width: 2.5px;
    border-style: solid;
    width: 200px;
  }
  
  .menu li {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .menu-icon {
    display: block;
    position:absolute;
    left: 315px;
    top: 1px;
  }
  
  .menu-icon i {
    color: #fff;
    font-size: 1.5rem;
  }
  
  #menu-toggle{
      display: none;
  }

  #menu-toggle:checked ~ .menu {
    display: block;
  }
/* Main */
i{
    padding: 15px;
    display: block;
}

.fiets{
    position: absolute;
    width: 15%;
    right: 7px;
    top: 10%;
}

.fietsen-info{
    display: none;
    position: absolute;
    right: 0;
    width: 150px;
    background: rgb(236, 42, 42);
    padding: 10px;
}

#biking{
    display: none;
}

#biking:checked ~.fietsen-info{
    display: block;
}

.ov{
    position: absolute;
    right: 7px;
    top: 10%;
    width: 9%;
}

.ov-info{
    display: none;
    position: absolute;
    right: 0;
    width: 150px;
    background: rgb(236, 42, 42);
    padding: 10px;
}
#public-transport{
    display: none;
}

#public-transport:checked ~.ov-info{
    display: block;
}

.lopen{
    width: 7%;
    position: absolute;
    right: 7px;
    top: 10%;
}

.lopen-info{
    display: none;
    position: absolute;
    right: 0;
    width: 150px;
    background: rgb(236, 42, 42);
    padding: 10px;
}
#walking{
    display: none;
}


#walking:checked ~ .lopen-info{
    display: block;
}

h2{
    padding-left: 10px;
    margin: 0;
}

/* Footer */
footer{
    position: relative;
    top: 40px;
    bottom: 0;
}

.blokjes{
    position: relative;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgb(236, 42, 42);
}

.socials{
    position:absolute;
    width: 46%;
    top: 68px;
    right: 101px;
}

iframe{
    width: 350px;;
    height:300px; 
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}